.save-button {
  background-color: #003366 !important;
  margin-right: 10px !important;
  margin-bottom: 15px !important;
  text-align: center !important;
  margin-top: 5px !important;
}

.cancel-button {
  background-color: red !important;
  margin-bottom: 15px !important;
  margin-top: 5px !important;
}