@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.patient-homepage-day{
  background-image: url("../../1092.jpg");
  height: 700px;
  text-align: center;
  font-size: 200%;
  font-family: 'Open Sans' !important;
}

.greeting-day{
  text-align: center;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30%;
  font-family: 'Open sans' !important;
}

.patient-homepage-night{
  background-image: url("../../2709893.jpg");
  height: 700px;
  text-align: center;
  font-size: 200%;
  font-family: 'Open Sans' !important;
  color: white;
}

.greeting-night{
  text-align: center;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30%;
  font-family: 'Open sans' !important;
  color: white;
}