@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// body {
//   font-family: 'Heebo', sans-serif;
// }

.patient-homepage-day{
  background-image: url("../../1092.jpg");
  height: 700px;
  text-align: center;
  font-size: 200%;
  font-family: 'Open Sans' !important;
}

.greeting-day{
  text-align: center;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30%;
  font-family: 'Open sans' !important;
}