.cv-notifications{
  background-color: #00ACC1;
  width: 70%;
  color: white;
  border-radius: 10px;
  margin: 2px auto ;
}
.text-center{
  text-align: center !important;
}

.cv-note-box{
  width: 70%;
  margin: 2% auto;
}