.MuiAvatar-colorDefault {
  background-color: #66E8F4 !important;
}

.user-email {
  margin: auto;
}

.geofence-toggle {
  color: #1a237e !important;
}

.notification-toggle {
  color: #1a237e !important;
}

.geofence {
  display: flex !important;
  flex-direction: row !important;
  margin: auto !important;
}
